*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/config
/public
/resources
/storage
/tests
.editorconfig
.env.example
artisan
composer.json
composer.lock
package
phpunit
vite.config.js
